# 07-09-2019

# List

## to check whether the given is list or not

In [3]:
l=[9,8,6,(1,2,3)]
type(l)

list

## to print first element in a list

In [1]:
l=[1,2,3,4]
print(l[0])

1

## length of a list

In [2]:
l=[4,5,6,7,8,9]
print(len(l))

6

## to print particular element in a list

In [5]:
l=[1,2,34,56,78,9,24,75,13]
print(l[-2])

75

## to print elements in a list between a range

In [17]:
l=[2,3,4,56,74,12,52]
print(l[3:6])

[56, 74, 12]

## to print reverse of a list

In [19]:
l=['a','b','c','d','e','f','g']
print(l[:-8:-1])

['g', 'f', 'e', 'd', 'c', 'b', 'a']

## to print alternate elements in a list

In [21]:
l=['a','b','c','d','e','f','g']
print(l[0:7:4])

['a', 'e']

## to add an element to the list using the directory append

In [24]:
l.append('i')
l

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i']

## to check whether the given string is palindrome or not

In [26]:
b=input("enter a name")
r=b[::-1]
if r==b:
    print("palindrome")
else:
    print("not palindrome")

enter a namemalayalam
palindrome

# loops concept in list

## to print elements in a list in a line using loop

In [35]:
l=['a','b','c','d','e','f','g']
for i in l:
    print(i)

a
b
c
d
e
f
g

## to print elements in a string in a line using loop

In [36]:
b="ramya"
for t in b:
    print(t)

r
a
m
y
a

## to print even numbers in a list using loop

In [43]:
l=[12,13,14,15,17,19,22,37,52]
for t in l:
    if t%2==0:
        print(t)

12
14
22
52

## to print odd numbers in a list using loop

In [44]:
l=[12,13,14,15,17,19,22,37,52]
for t in l:
    if t%2!=0:
        print(t)

13
15
17
19
37

## to print even numbers in a range

In [45]:
a=int(input())
b=int(input())
for i in range(a,b):
    if i%2==0:
        print(i)

5
15
6
8
10
12
14

## to print odd numbers in a range

In [46]:
a=int(input())
b=int(input())
for i in range(a,b):
    if i%2!=0:
        print(i)

12
20
13
15
17
19

## Sorting of numbers in a list

In [57]:
l=[12,1,3,64,13,79,26,23]
l.sort(reverse=True)
l

[79, 64, 26, 23, 13, 12, 3, 1]

## sorting and reverse of numbers in a list

In [55]:
l=[12,1,3,64,13,79,26,23]
l.sort()
print(l)
l.reverse()
print(l)

[1, 3, 12, 13, 23, 26, 64, 79]
[79, 64, 26, 23, 13, 12, 3, 1]

## sorting of  numbers in a list-input is given by user

In [9]:
l=[]
a=int(input("enter len of list"))
for i in range(1,a+1):
    v=int(input("enter a element "))
    l.append(v) 
l.sort()
print("ascending order is ",l)


l.reverse()
print("descending order is ",l)

enter len of list4
enter a element 2
enter a element 5
enter a element 1
enter a element 3
ascending order is  [1, 2, 3, 5]
descending order is  [5, 3, 2, 1]