# 09-09-2019

## To find first three greater number in a list

In [11]:
l=[12,86,3,64,13,79,26,23]
l.sort(reverse=True)
print(l[0:-5])

[86, 79, 64]

## To find frequency of a number

In [17]:
a=[2,4,3,19,3,22,16,3]
d={}
for i in a:
    d[i]=a.count(i)
print(d)

{2: 1, 4: 1, 3: 3, 19: 1, 22: 1, 16: 1}

# Dictionary

## To print the data in dictionary

In [11]:
d={"name":"ramya","branch":"ECE"}
print(d["name"])

ramya

## To override the data in dictionary

In [14]:
d={"name":"ramya","branch":"ECE"}
print(d["name"])
d["name"]="kanna"
print(d["name"])

ramya
kanna

## To update data into a dictionary

In [13]:
d={}
d[1]=5
d

{1: 5}

##  To print data in list using dictionary

In [18]:
a=[2,4,3,19,3,22,16,3]
d={}
for i in a:
    d[i]=a.count(i)
for k in d:
    print(k)

2
4
3
19
22
16

## To print the items in list using dictionary

In [20]:
a=[2,4,3,19,3,22,16,3]
d={}
for i in a:
    d[i]=a.count(i)
d.items()

dict_items([(2, 1), (4, 1), (3, 3), (19, 1), (22, 1), (16, 1)])

##  To print frequency of a number using dictionary

In [28]:
a=[2,4,3,19,3,22,16,3]
d={}
for i in a:
    d[i]=a.count(i)
m=max(d.values())
for k in d:
    if m==d[k]:
        print(k,"->",m)

3 -> 3

## To split a string

In [31]:
a=input("enter a string")
y=a.split("*")
for i in y:
    print(i)

enter a stringhi*ramya*kranthi*maggie
hi
ramya
kranthi
maggie

## To print frequency of a number using dictionary

In [2]:
a=input("enter a string")
y=a.split()
d={}
for i in y:
    d[i]=a.count(i)
m=max(d.values())
for s in d:
    if m==d[s]:
        print(s,"->",m)

enter a stringhi ramya hi
hi -> 2